@media(min-width: 600px){
    .infoGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}

.infoGrid{
    width: 95%;
    margin: auto;
}

.piste{
    width: 30vw;
}

.equipmentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.polaroid{
    width: 90%;
    background-color: #4f4f4f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.polaroidText{
    text-align: center;
    padding: 10px 20px;
}

.fit{
    width: 100%;
}

.container{
    box-shadow: 5px 10px 18px #888888;
}