.headerDiv{
	background-color: #4f4f4f;
  color: #292929;
}

.imgCenter{
  display: block;
	width: 100%;
	margin: auto;
	max-width: 100px;
}
/*.picDivOne{
  display: block;
	width: 50%;
	margin: auto;
  margin-top: 10px;
}*/

.textOne{
  margin: 10px;
}

.txtBox{
  padding-bottom: 10px;
}


.navBar {
 background-color: #969696;  
 margin-bottom: 25px;
}

.navBar ul{
   margin-top: 0px;
 padding-top: 0px;

}

.navBar li{
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}


.navButton {
  background-color: #969696;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.drpButton{
  background-color: #969696;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.navButton:hover{
  cursor: pointer;
  background-color: coral;
}

.drpMenu{
  position: relative;
  display: inline-block;
}

.drpContent{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drpContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drpContent a:hover {background-color: lightcoral}

.drpMenu:hover .drpContent {
    display: block;
}

.drpMenu:hover .drpButton {
    background-color: coral;
}
/*Slideshow Code*/