
.sPhoto{
	display: block;
	width: 100%;
	max-height: 40vh;
	margin: auto;
}
#sbodyText{
	display: block;
	margin: 1em;
}
.sTarget{
	width: 100%;;
	display: block;
	margin: auto;
	max-height: 245px;
	max-width: 270px;
}
h3{
	text-align: center;
}
h2{
	margin-top: 2em;
	font-size: 40px;;
}
.sGrid2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
@media (min-width: 700px){
	.sabGrid1{
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-height: 40vh;
	}
	
	.container{
		width: 80%;
		margin: auto;
		background-color: #4f4f4f;
	}
}