/*Overall styling*/
body{
	font-family: 'Montserrat', sans-serif;
  color: #c6c6c6;
}

h2{
  text-align: center;
}

a{
  color: #d8d8d8;
  text-decoration: none;
}

a:hover{
  color: coral;
}
.headerDiv{
	background-color: #4f4f4f;
}

.imgCenter{
	width: 100%;
	margin: auto;
	max-width: 100px;
}
.picDivOne{
	width: 50%;
	margin: auto;
}

.textOne{
  margin: 10px;
}

.txtBox{
  padding-bottom: 10px;
}

.navbar ul{
 background-color: #969696;  

}


.navBar li{
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}


.navButton {
  background-color: #969696;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.drpButton{
  background-color: #969696;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.navButton:hover{
  cursor: pointer;
  background-color: coral;
}

.drpMenu{
  position: relative;
  display: inline-block;
}

.drpContent{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drpContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drpContent a:hover {background-color: lightcoral}

.drpMenu:hover .drpContent {
    display: block;
}

.drpMenu:hover .drpButton {
    background-color: coral;
}
/*Slideshow Code*/

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.footer{
  background-color: #606060;
  color: #ffe2e2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 30px;
}

#rightText{
  margin-left: 10px;
}

/*ViewPort Queries*/

@media(min-width:900px){
	/*Grids*/

	/*Reused classes*/
	.textCenter{
		font-size: 70px;
		text-align: center;
	}

	.container{
	width: 80%;
	margin: auto;
  background-color: #4f4f4f;
	}

	#headerName{
		margin-top: 0px;
	}
}

@media(min-width: 600px){
	.textCenter{
		font-size: 50px;
		text-align: center;
	}
	.headerGrid{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
  .textOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media(min-width: 300px){
	.textCenter{
		font-size: 30px;
		text-align: center;
	}

}